.main {
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
}

.textarea-container {
    display: flex;
    margin: 0 0 10px 0;
    width: 100%;
}

.textarea {
    flex: 1;
    resize: both;
    box-sizing: border-box;
    margin-right: 15px;
    min-height: 100px;
}

.comment {
    flex: 1;
    box-sizing: border-box;
    margin-right: 10px;
    width: 600px;
    min-height: 100px;
    overflow: hidden;
    resize: both;
}

.submit-button {
    font-size: 10px;
    padding: 3px 10px;
    background-color: #000000;
    color: white;
    text-align: center;
    border: none;
    cursor: pointer;
    align-self: center;
    align-items: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clear-button {
    font-size: 10px;
    padding: 3px 10px;
    background-color: #000000;
    color: white;
    text-align: center;
    margin-left: 3px;
    border: none;
    cursor: pointer;
    align-self: center;
    align-items: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-output {

    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    height: auto;
    min-height: 750px;
}

.icon-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}

.icon-button {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    margin: 0 10px;
}

.markdown {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
    border: none;
    padding: 0;
    margin: 10px;
}

.textarea_h {
    border: 1px solid #ccc;  /* Обводка */
    border-radius: 5px;      /* Закругленные углы */
    padding: 10px;           /* Отступы внутри элемента */
    margin: 10px 0;         /* Отступы сверху и снизу */
    font-size: 16px;         /* Размер шрифта */
}

.my-paragraph {
    color: #333;             /* Цвет текста */
    font-weight: bold;       /* Жирный шрифт */
}

table {
    width: 100%;             /* Ширина таблицы */
    border-collapse: collapse; /* Убираем промежутки между ячейками */
}

th, td {
    border: 1px solid #ddd;  /* Обводка ячеек */
    padding: 8px;            /* Отступы внутри ячеек */
}

th {
    background-color: #f2f2f2; /* Фон заголовков */
}