name: documentation
on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - develop
    - main
jobs:
  deploy-docs:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.12"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools
        pip install -r docs/requirements.txt

    - name: Trigger Read the Docs build
      env:
        READTHEDOCS_API_KEY: ${{ secrets.READTHEDOCS_API_KEY }}
      run: |
        curl -X POST -H "Authorization: Token ${READTHEDOCS_API_KEY}" \
        -d "branch=develop" \
        https://readthedocs.org/api/v3/projects/paidiverpy/versions/latest/builds/
