# Configuration settings for isort.
[settings]
py_version=38
profile=black
line_length = 80
lines_after_imports = 2

known_firstparty=nfar_*

sections=FUTURE,STDLIB,THIRDPARTY,FIRSTPARTY,LOCALFOLDER

order_by_type = false
combine_as_imports = true
force_grid_wrap = 3
force_sort_within_sections = true
include_trailing_comma = true
skip = setup.py
use_parentheses = true
