body {
    font-family: Arial, sans-serif; 
}
.table-container {
    height: 270px;
    overflow-y: auto;
    position: relative;
    border-radius: 10px;
    border: 1px solid #aaa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.30);
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    white-space: nowrap;
}
th { 
    background-color: #444;
    color: #eee;
    position: sticky;
    top: 0;
    z-index: 1;
}
.outcol {
    width: 100%;
}
select { /* Safari bug */
    font-size: 15px;
    border: #aaa solid 1px;
    border-radius: 5px;
}
.output {
    white-space: pre-wrap;
    background: #f0f0f0;
    padding: 10px;
    border: 1px solid #ccc;
    font-family: monospace;
    border-radius: 10px;
    overflow-y: auto;
}
.copy-icon { cursor: pointer; }
.monospace { font-family: monospace; }
.copied { color: green; margin-left: 5px; }
button {
    -webkit-appearance: none;
    -webkit-border-radius: none;
    appearance: none;
    border-radius: 15px;
    padding-right: 13px;
    border: 1px #555 solid;
    height: 22px;
    font-size: 13px;
    outline: none;
    text-indent: 10px;
    background-color: #eee;
}
form {
    padding-bottom: 15px;
}
.status-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
}
.title-icon {
    width: 30px;
    height: 30px;
    background-image: url("/static/images/favicon.svg")
}
.status-running { 
    background-image: url("/static/images/running.gif")
}
.status-success { 
    background-image: url("/static/images/success.svg")
}
.status-failed { 
    background-image: url("/static/images/failed.svg")
}
.status-aborted { 
    background-image: url("/static/images/aborted.svg")
}
.copy_clip {
    padding-right: 25px;
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 25px 16px;
    white-space: nowrap;
}
.copy_clip:hover {
    cursor: pointer;
    background-image: url("/static/images/copy.svg");
}
.copy_clip_ok, .copy_clip_ok:hover {
    background-image: url("/static/images/copy_ok.svg");
}
input {
    width: 50%;
    -webkit-appearance: none;
    -webkit-border-radius: none;
    appearance: none;
    border-radius: 15px;
    padding: 3px;
    padding-right: 13px;
    border: 1px #aaa solid;
    height: 15px;
    font-size: 15px;
    outline: none;
    text-indent: 5px;
    background-color: white;
}
.currentcommand {
    background-color: #eef;
}
.resizer {
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background: #aaa;
    cursor: ns-resize;
    position: absolute;
    bottom: 0;
    left: 0;
}
.resizer-container {
    position: relative;
    height: 5px;
    margin: 5px;
    /*margin-bottom: 10px;*/
}
tr.clickable-row {
    cursor: pointer;
}
