[build-system]
requires = ["setuptools>=61.0", "aac"]
build-backend = "setuptools.build_meta"

[project]
name = "aac-puml"
version = "0.1.17"
authors = [
	{name="AaC Dev Team", email="asdfasdaf@email.com"}
]
description = "PlantUML diagram output plugin for AaC (Architecture-as-Code) project"
requires-python = ">= 3.9.13"
readme = "README.md"
license = {text = "MIT License"}
keywords = ["SysML", "Architecture-as-Code", "System Engineering", "MBSE"]
classifiers = [
	"Programming Language :: Python :: 3",
	"License :: OSI Approved :: MIT License",
	"Operating System :: OS Independent",
    "Topic :: Scientific/Engineering"
]
dependencies = [
	"aac >= 0.4.29",
]
[project.optional-dependencies]
doc = [
	"sphinx >= 7.3.7",
    "sphinxcontrib-applehelp ~= 1.0.2",
    "sphinxcontrib-devhelp ~= 1.0.2",
    "sphinxcontrib-htmlhelp ~= 2.0.0",
    "sphinxcontrib-jsmath ~= 1.0.1",
    "sphinxcontrib-qthelp ~= 1.0.3",
    "sphinxcontrib-serializinghtml ~= 1.1.9",
    "sphinx-copybutton ~= 0.5.2",
    "sphinx_contributors ~= 0.2.7",
    "sphinx-autobuild ~= 2021.3.14",
    "sphinx-simplepdf ~= 1.6.0",
    "furo ~= 2024.5.6",
    "docutils ~= 0.19",
    "myst-parser ~= 2.0.0",
    "pytz ~= 2023.3"
]
test = [
	"behave >= 1.2.6",
	"build >= 1.1.1",
	"coverage >= 7.4.3",
	"flake8 >= 4.0.0",
    "nose2 >= 0.10.0",
	"pipdeptree >= 2.16.1",
	"pyflakes >= 2.4",
	"tox >= 3.24",
]

all = [
	"aac-puml[doc]",
	"aac-puml[test]"
]

[project.entry-points."aac"]
puml-component = "puml"

[project.urls]
Homepage = "https://github.com/DevOps-MBSE/aac-puml"
Issues = "https://github.com/DevOps-MBSE/aac-puml/issues"

[tool.setuptools]
include-package-data = true
package-dir = {"" = "src"}
[tool.setuptools.packages.find]
where = ["src"]
exclude = ["tests"]
[tool.setuptools.package-data]
mypkg = ["**/*.aac", "**/*.jinja2", "*.yaml"]
