.chatRoot {
    position: absolute;
    width: 100%;
    height: calc(100vh - 10px);
    display: flex;
}

.chatContainer {
    position: relative;
    margin: 10.5px;
    width: 100%;
    height: 100%;
    display: flex;

}

.chatSubContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content {
    flex: 1 1 70%;
    overflow-y: auto;
}

.chatManager {
    flex-direction: column;
    display: flex;
    gap: 5px
}

.searchContainer {
    justify-items: center;
}

.suggestions {
    justify-items: center;
    overflow: scroll;
}

.hidden {
    display: none;
}

.basicContent {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}


.searchBox {
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 90%;
    background-color: #F5F5F5;
    padding: 16px 20px;
}

.searchTextBox {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    margin-bottom: 6px;
    resize: none;
}

.suggestionsContainer {
    border-radius: 0.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.buttonsContainer {
    display: flex;
    max-height: calc(2 * 1.5em);
    overflow-y: auto;
    line-height: 1.5;
    padding: 8px;
    margin: 0 auto;
    white-space: nowrap;
    gap: 5px;
    -ms-overflow-style: none;
}

.button {
    padding: 8px 12px;
    border-radius: 16px;
    border: none;
    background-color: #1D73D333;
    color: #1e3a8a;
    cursor: pointer;
    font-size: 0.9rem;
    text-align: left;

}

.button:hover {
    background-color: #1D73D333;
    opacity: 80%;
}

.showMore {
    color: #3b82f6;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
}

.searchButtonContainer {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: flex-end;
    gap: 10px;
    flex-direction: row;
}


.actionContainer {
    flex: 1;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: flex-end;
    gap: 10px;
    flex-direction: row;
}

.searchButton {
    display: inline-block;
    border: rgb(196, 198, 209) solid 1px;
    border-radius: 0.75rem;
    font-weight: bold;
    height: 3rem;
    padding: 0.75rem 1rem;
    font-size: 1.05rem;
    text-align: center;
    letter-spacing: 0.1rem;
    margin: 0;
    cursor: pointer;
}

.searchButton:hover {
    border: rgba(196, 198, 209, 1) solid 1px;
    background-color: rgba(36, 39, 54, 0.2);
    margin: 0;
}

.cleanButton {
    align-items: center;
    gap: 5px;
    display: flex;
    border: none;
}

.copyButton {
    align-items: center;
    gap: 5px;
    display: flex;
    border: none;
}

.thumbs {
    align-items: center;
    gap: 5px;
    display: flex;
    border: none;
    cursor: pointer;
}

.cleanButton:hover {
    text-decoration: underline;
}

.actionButtonContainer {
    /*padding-left: 10px;*/
}

.moreInfo {
    font-size: 1.05rem;
    font-weight: 500;
    cursor: pointer;
}

.question {
    margin-right: 12px;
    padding: 8px 12px;
    border-radius: 16px;
    border: none;
    background-color: #99999933;
    color: #26252D;
    cursor: pointer;
    text-align: right;
    font-size: 1.25rem;
    font-weight: bolder;
}

.loaderContainer {
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.loaders {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100%;
}

.loaders * {
    position: relative !important;
}

.loaderDummy {
    display: none;
}

.commentContainer {
    flex: 2;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: row;
    width: 100%;
}

.label {
    flex: 0 0 auto;
    font-weight: bold;
    padding-right: 0.5rem;
}

.commentBox {
    flex: 1;
    width: 40vw;
    height: 30px;
    padding: 0.5rem;
    border: 1px solid rgb(196, 198, 209);
    border-radius: 0.5rem;
    font-size: 1rem;
    resize: none;
}


.searchSource {
    width: 150px;
}

.searchSource .Select-control {
    border: 1px solid rgb(196, 198, 209);
    border-radius: 0.75rem;
    font-weight: bold;
    font-size: 1.05rem;
    cursor: pointer;
    padding: 0;
}

.searchSource .Select-multi-value-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchSource .Select-value-label {
    font-weight: bold;
    font-size: 1.05rem;
    color: #333;
}

.searchSource .Select-input input {
    border: none;
    width: 5px !important;
    padding: 0;
}


.preText {

    font-size: 0.9rem;
    line-height: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.loadingMessage {

    font-size: 1.5rem;
    line-height: 1.7rem;
    font-weight: 500;
}

.loaderDummy {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loadingMessage {
    text-align: center;
}

.helpButton {
    align-items: center;
    gap: 5px;
    display: flex;
    border: none;
}

.help {
    font-size: 1.05rem;
    font-weight: 500;
    cursor: pointer;
}