[project]
name = "river_print"
version = "0.1.6"
description = "personal print library"
authors = [
    { name = "river", email = "" }
]
readme = "README.md"
requires-python = ">=3.9"
dependencies = [
    "rich>=13.9.4",
]

classifiers = [
    "Development Status :: 3 - Alpha",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
    "License :: OSI Approved :: Apache Software License",
]


[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.build.targets.wheel]
packages = ["src/river_print"]


[dependency-groups]
dev = [
    "click>=8.1.8",
    "pytest>=8.3.4",
    "twine>=6.0.1",
]
