body {
    font-family: Arial, sans-serif;
}

#network {
    height: 650px;
    width: 100%;
    border-radius: 5px;
    background-color: #222222;
    margin-bottom: 20px;
    position: relative;
}

#loading-bar {
    position: relative;
    top: 300px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    z-index: 30;
}

.filter-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.filter-container .form-group {
    display: flex;
    flex-wrap: wrap;
    margin-right: 10px;
}

.filter-container select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter {
    margin-bottom: 20px;
}

.dataTables_wrapper .dataTables_length select,
.dataTables_wrapper .dataTables_filter input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#download-csv {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 0;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#download-csv:hover {
    background-color: #45a049;
}

#graph-caption p {
    display: inline-block;
}

#graph-configuration-container {
    float: right;
}

#graph-configuration-container input[type="checkbox"] {
    position: relative;
    margin-left: .5rem;
}
